{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
   <div class="container mt-4" > 
       <div class="jumbotron">
       <h1 class="display-4">Hello, bienvenu sur My recipes ! </h1>
       <p class="lead">My recipes est une application vous permettrant de créer des recettes à base de vos propores ingredients.
            Vous pourrez ensuite les partagez !
       </p>
      <hr class="my-4">
      <p>Inscrivez vous pour commencer</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
      </p>
 </div>
   </div>
{% endblock %}
